{{> head }}

    <div class="container">
        <div class="main-content mt-4">
            <h1 class="alert alert-info text-center">Welcome on the Poker tournament manager app !</h1>
        </div>
    </div>

{{> footer }}
