<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page - Poker tournament Manager</title>
    
</head>
<body>
    <div class="container">
        <h1 class="alert alert-info">Welcome on the Poker tournament manager app !</h1>    
    </div>
</body>
</html>